<launch>

  <!--Arguments that can be passed into the launch from the cmd line-->
  <arg name="gui" default="true"/>
  <arg name="paused" default="false"/>

  <!--Parameters to be placed on the ros param server-->
  <param name="/use_sim_time" value="true" />

  <!--Start up the gazebo simulator with the PR2 robot inside it-->
  <include file="$(find pr2_gazebo)/launch/pr2_empty_world.launch"/>

   <!--Start up moveit in order to plan arm trajectories-->
  <include file="$(find pr2_moveit)/launch/move_group.launch"/>

  <!-- Add table to the world -->
  <node name="spawn_table" pkg="gazebo_ros" type="spawn_model" 
   args="-urdf -file $(find world_launch)/models/table.urdf -model table -x 0.80 -y -0.2 -z 0.050"
   respawn="false" output="screen" />

  <!-- Add Pole can to the world -->
  <node name="spawn_object2" pkg="gazebo_ros" type="spawn_model" 
   args="-urdf -file $(find world_launch)/models/cylinder_green.urdf -model cylinder -x 0.70 -y -0.4 -z 0.85 -w 1.0"
   respawn="false" output="screen" />

  <!-- Add Coke can to the world -->
  <node name="spawn_object" pkg="gazebo_ros" type="spawn_model" 
   args="-urdf -file $(find world_launch)/models/cube_red.urdf -model cube -x 0.50 -y -0.7 -z 0.5"
   respawn="false" output="screen" />

  <include file="$(find pr2_moveit)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>
   <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find world_launch)/launch/rviz.rviz"/>-->
</launch>

